<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="/">
      <img src="../../../assets/logo.png" alt="Logo">
    </a>
  </div>
  
  <span class="navbar-title">Simple Process Mining Dashboard</span>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="'/'">Home</a>
      <a class="navbar-item" [routerLink]="'/about'">About</a>
      <a class="navbar-item" [routerLink]="'/contact'">Contact</a>

      <!-- Links for Logged-in Users -->
      <a *ngIf="authService.isLoggedIn()" class="navbar-item" [routerLink]="'/dashboard'">Dashboard</a>
      <a *ngIf="authService.isLoggedIn()" class="navbar-item" [routerLink]="'/upload'">Upload</a>
    </div>

    <div class="navbar-end">
      <!-- Links for Non-Logged-in Users -->
      <a *ngIf="!authService.isLoggedIn()" class="navbar-item" [routerLink]="'/login'">Login</a>
      <a *ngIf="!authService.isLoggedIn()" class="navbar-item" [routerLink]="'/register'">Register</a>

      <!-- Logout Link for Logged-in Users -->
      <a *ngIf="authService.isLoggedIn()" class="navbar-item" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
