<!-- Home Component HTML -->
<div class="home-container" style="background-image: url('null');">
    <h1>Welcome to the Simple Process Mining Dashboard</h1>
    <p>This dashboard is your gateway to efficient process analysis and optimization. Dive into your data, uncover insights, and streamline your business processes today.</p>
    <div class="features">
      <section>
        <img src="../../../assets/real_time_data.png" alt="Real-time Data Processing">
        <h2>Real-time Data Processing</h2>
        <p>Process large datasets in real-time with our optimized data engine.</p>
      </section>
      <section>
        <img src="../../../assets/intuitive_analytics.png" alt="Intuitive Analytics">
        <h2>Intuitive Analytics</h2>
        <p>Visualize your process flows and identify bottlenecks with ease.</p>
      </section>
      <section>
        <img src="../../../assets/custom_dashboard.png" alt="Customizable Dashboards">
        <h2>Customizable Dashboards</h2>
        <p>Create and share custom dashboards tailored to your specific needs.</p>
      </section>
    </div>
</div>
