<div class="login-container">
    <form (ngSubmit)="login()" class="form-horizontal">
      <!-- Error message display -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <!-- Email input -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <!-- Password input -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <!-- Submit button -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>
  